[Desktop Entry]
Type=Application
Exec=/usr/bin/neptune3-ui
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=neptune3-ui
Comment[en_US]=Launches neptune3-ui on logging in
